.img-container {
  width: 769px;
  height: 469px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-container p {
  max-width: 152px;
}
.paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.titleMarkdown {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}