.img-container {
  width: 660px;
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.paragraph {
  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

.tag-code {
  white-space: pre-wrap;
  font-family: 'Inter, sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

img.img-container {
  display: block;
  margin: 0 auto;
}
