.containerItem {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 32px;
}
.itemList {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-bottom: 40px;
}

.square {
  background-color: #c4c4c4;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

li.itemList a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
}
