.container{
  display: flex;
  justify-content: row;
}
.title {
  display: flex;
  text-align: center;
  
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}
