.containerMenu{
    margin-left: 32px;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.square {
    background-color: #c4c4c4;
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }

.containerMenu ul{
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;   
}
.containerMenu li{
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;   
}

.squareLevelTwo {
    color: #c4c4c4;
    width: 6px;
    height: 17px;
    margin-right: 10px;
  }

.containerItemSubMenu {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
  }