@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Lobster&display=swap');
@import 'simplebar/dist/simplebar.min.css';
@font-face {
  font-family: 'FT Base';
  src: url('../assets/fonts/FT_Base/FTBase-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FT Base';
  src: url('../assets/fonts/FT_Base/FTBase-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FT Base';
  src: url('../assets/fonts/FT_Base/FTBase-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FT Base';
  src: url('../assets/fonts/FT_Base/FTBase-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF_PRO_display/SF-Pro-Display-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF_PRO_display/SF-Pro-Display-Medium.otf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF_PRO_display/SF-Pro-Display-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF_PRO_display/SF-Pro-Display-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SF_Pro_Text/SF-Pro-Text-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SF_Pro_Text/SF-Pro-Text-Medium.otf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SF_Pro_Text/SF-Pro-Text-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SF_Pro_Text/SF-Pro-Text-Light.otf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FT Base, sans-serif;
  color: #231536;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  border-radius: 3px 10px 10px 10px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #1AAB9B;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1AAB9B transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-select {
  // -webkit-touch-callout: none; /* iOS Safari */
  // -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.simplebar-scrollbar::before {
  width: 4px;
  margin-left: 4px;
  background: #1AAB9B;
}

.filter-popup-scroll {
  width: 212px;
  height: max-content;
  background: 'white';

  @media (min-width: 834px) {
    height: 240px;
  }
}